@use '../utilities/' as *;
@use '../base/' as *;


.header__image__wrapper {
    background-color: $roza;
    height: 430px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    img {
        object-fit: cover;
        padding: 0 12px;
    }

    @include for-phone {
        height: 269px;
    }
}

.header {
    color: black;
    display: flex;
    justify-content: center;
    font-family: $family-primary;
    
    @include for-phone {
        padding: 40px 0;
    }

    @include for-tablet {
        padding: 70px 0;
    }

    &__wrapper {  
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 473px;
        margin: 0 auto;
        text-align: center;
    }

    &__text__wrapper {
        margin: 0 auto;
        width: 361px;
    }
}

.pozivnica__naslov {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 2.16px;
    text-align: center;

    @include for-phone {
        font-size: 23px;
        padding: 0 15px;
    }

    @include for-tablet {
        font-size: 24px;
    }
}

.pozivnica__sadrzaj {
    font-weight: 300;
    line-height: 1.88;
    letter-spacing: 1.28px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    
    @include for-phone {
        font-size: 16px;
        margin-top: 25px;
        padding: 0 20px;
    }

    @include for-tablet {
        font-size: 16px;
        margin-top: 22px;
        padding: 0;
    }
}

.pozivnica__bold {
    font-weight: bold;
}

.square_black {
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1.92px;
    line-height: 1;
    padding: 4px 7px;
}

.mjesto {
    margin-top: 71px;

    
    &__naziv {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.75;
        letter-spacing: 1.28px;
        margin-top: 15px;

        @include for-phone {
            padding: 0 20px;
        }

        @include for-tablet {
            padding: 0;
        }
    }

    &__podaci {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75;
        letter-spacing: 1.28px;
    }
}

.vrijeme {
    margin: 23px 0 15px;
}